{% extends "base.html" %}

{% block title %}Select a Saved Wrap{% endblock %}

{% block content %}
<div class="container">
    <h1>Select a Saved Wrap</h1>
    <p>Choose a wrap to view based on the date it was saved:</p>
    <ul class="list-group">
        {% for wrap in saved_wraps %}
            <li class="list-group-item">
                <a href="{% url 'display_selected_wrap' wrap.id %}">
                    {{ wrap.created_at|date:"F j, Y, g:i a" }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
